* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Itim', Arial, Helvetica, sans-serif;
  background-image: url(./img/chess.jpg);
  background-position: center;
  height: calc(100vh - 50px);
}

a {
  text-decoration: none;
  color: #000;
  outline: none;
}

li {
  list-style-type: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  height: 50px;

  #directory {
    display: flex;
    position: relative;

    li {
      padding: 15px 10px;
      position: relative;
      margin: 0 10px;
    }

    a {
      padding: 0 15px;
    }

    ul {
      display: none;
      line-height: 1.5rem;
      position: absolute;
      background-color: #fff;
      width: 100%;

      li {
        height: 50px;
        padding: 0;
        margin: 0;

        a {
          position: absolute;
          top: 5px;
          padding: 10px 15px;
        }
      }
    }

    li:hover ul {
      display: block;
    }
  }
}
