* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.slide {
  height: 640px;
  width: 640px;
  border: 10px solid brown;
}

.slide1 {
  background-image: url('./img/image1.jpg');
}
.slide2 {
  background-image: url('./img/image2.jpg');
}
.slide3 {
  background-image: url('./img/image3.jpg');
}
.slide4 {
  background-image: url('./img/image4.jpg');
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 0;
  height: 0;
  border-style: solid;
}

.arrow:hover {
  opacity: 0.6;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #000 transparent transparent;
  left: 550px;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #000;
  right: 550px;
  margin-right: 30px;
}

#nav-dots {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 10px;
  width: 100%;
}

#nav-dots li {
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
}
